
.App {
  font-family: sans-serif;
  text-align: center;
}


.body {
  position: absolute;
  top: 25%;
  bottom: 15%;
  overflow: scroll;
}

.Footer {
  background-color: #0941bac2;
  position: fixed;
  bottom: 10px;
  width: 100%;

  h5, p a {
    font-size: .8em;
    color: white;
  }
}